<div class="div container mt-5">
    <h4>Internal server error do not refresh</h4>
    <ng-container *ngIf="error" >
        <h5 class="text-danger">Error {{error.message}}</h5>
        <p class="font-weight-bold" >Angular not responsible</p>
        <p>Next?</p>
        <ol>
            <li>chrome dev tools</li>
            <li>inspect network tab</li>
            <li>check failing request and URL</li>
            <li>reproduce error in postman</li>
        </ol>
        <p>start with stack trace</p>
        <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
    </ng-container>
    
    
</div>
