<div class="container mt-5">
    <div>
        <i class="fa fa-check-circle fa-5x" style="color: green;"></i>
        <h2>Thank you. Your order is confirmed.</h2>
        <p class="mb-4">
            Your order is being shipped.
        </p>
        <!---->
        <button *ngIf="order" routerLink="/orders/{{order?.id}}" class="btn btn-outline-success">View My Order {{order?.id}}</button>
        <button *ngIf="!order" routerLink="/orders" class="btn btn-outline-success">View My Orders</button>
    </div>
</div>
